/* style.css */

/* Custom fonts */

/* Karla */
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla/Karla-Regular.ttf");
}

@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla/Karla-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla/Karla-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla/Karla-Italic.ttf");
  font-style: italic;
}

/* Source Serif Pro */
@font-face {
  font-family: "Source Serif Pro";
  src: url("../assets/fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../assets/fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf");
  font-weight: bolder;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../assets/fonts/Source_Serif_Pro/SourceSerifPro-Semibold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../assets/fonts/Source_Serif_Pro/SourceSerifPro-Light.otf");
  font-weight: lighter;
}

/* IBM Plex Mono */
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../assets/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBoldItalic.ttf");
  font-weight: semibold;
  font-style: italic;
}

/* Tag styles */
html, body {
  margin: 0;
  height: vh100;
  background: white;
}

h1{
  /* Heading 1 (80) */
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 60
}

h2{
  /* Heading 2 (60) */
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: bold;
}

h3{
  /* Heading 3 (36) */
  font-family: "Karla";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

h4{
  /* Heading 4 (36) */
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

h5{
  /* Heading 5 (24) */
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

h6{
  /* Heading 6 (20) */
  font-family: "Karla";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

p{
  /* Paragraph (20) */
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
/* Classes */

/* Color styles */
.coorganate-primary-blue{
  background-color: #17C8E0;
}

.coorganate-light-blue{
  background-color: #D8FAFF;
}

.coorganate-bright-blue{
  background-color: #8AF1FF;
}

.coorganate-gray{
  background-color: #E0E0E0;
}

.coorganate-light-gray{
  background-color: #F4F4F4;
}

.coorganate-dark-gray{
  background-color: #979696;
}

.coorganate-active-green{
  background-color: #0ACF83;
}

.coorganate-unread-red{
  background-color: #FF7262;
}

/* Font styles */
.tiny-text{
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.small-text{
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.medium-text{
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.large-text{
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

/* Containers */
.right-bg{
  background: #D8FAFF;
  height:100vh;
  width: 100vh;
  box-shadow: inset 4px 0px 20px rgba(23, 200, 224, 0.2);
}

.right-bg-long{
  background: #D8FAFF;
  height:100%;
  width: 100vh;
  box-shadow: inset 4px 0px 20px rgba(23, 200, 224, 0.2);
}

.coorganate-card{
  border-radius: 10px;
  background: white;
}

/* Unique text and logos */
.logo{
  width: 338px;
  height: 256px;
  margin-top: 20%;
}

.baby-blue-font{
  color: #17C8E0;
}

.sign-in-title{
  padding-top: 10%;
}

.sign-in{
  font-family: Source Serif Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 82px;
}

/* Generic Buttons */
.blue-button-small, .blue-button-small:hover{
  font-family: "Karla";
  font-weight: bold;
  font-size: 14px;
  font-style: normal;
  color: white;

  text-transform: capitalize;
  text-align: center;
  line-height: 30px;
  height: 30px;
  border-radius: 1000px;
}

.blue-button-medium, .blue-button-medium:hover{
  font-family: "Karla";
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  color: white;

  text-transform: capitalize;
  text-align: center;
  line-height: 50px;
  height: 50px;
  border-radius: 1000px;
}

.blue-button-large, .blue-button-large:hover{
  font-family: "Karla";
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  color: white;

  text-transform: capitalize;
  text-align: center;
  line-height: 68px;
  height: 68px;
  border-radius: 1000px;
  background: #17C8E0;
}

.white-button-small, .white-button-small:hover{
  font-family: "Karla";
  font-weight: bold;
  font-size: 14px;
  font-style: normal;
  color: #17C8E0;

  text-transform: capitalize;
  text-align: center;
  line-height: 30px;
  height: 30px;
  border-radius: 1000px;
  background: white;
}

.white-button-medium, .white-button-medium:hover{
  font-family: "Karla";
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  color: #17C8E0;

  text-transform: capitalize;
  text-align: center;
  line-height: 50px;
  height: 50px;
  border-radius: 1000px;
  background: white;
}

.white-button-large, .white-button-large:hover{
  font-family: "Karla";
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  color: #17C8E0;

  text-transform: capitalize;
  text-align: center;
  line-height: 68px;
  height: 68px;
  border-radius: 1000px;
  background: white;
}

/* Specific Button Styles */
.sign-in-buttons, .sign-in-buttons:hover{
  width: 250px;
}

.registration-type-buttons, .registration-type-buttons:hover{
  width: 345px;
}

.registration-buttons-div{
  margin-top: 10%;
}

.request-submit-message{
  margin-right: 20%;
  margin-left: 20%;
}

/* Forms */
.sign-in-form{
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.coorganate-form{
  background: white;
  padding: 10px;
}

.coorganate-form-card-panel{
  background: transparent;
  shadow: none;
  box-shadow: none;
}

/* IDs */
#content{
  margin: 0%;
}

/* Logo IDs */
#coorganate-logo{
  font-family: "Source Serif Pro";
  font-weight: lighter;
}

#password-logo{
  font-family: "IBM Plex Mono";
  font-weight: bold;
  font-style: italic;
}

#password-logo2{
  font-family: "IBM Plex Mono";
  font-weight: normal;
  font-style: normal;
}
