<!-- login.html -->
{% load static from staticfiles %}
<!DOCTYPE HTML>
<html>

<head>
  {% include 'scripts.html' %}
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <title>Coorganate - Sign In</title>
</head>

<body>
  {% load crispy_forms_tags %}
  <!-- include 'heading0.html' -->
  <main>

    <div class="row" id="content">
      <!-- Logo on left side -->
      <div class="col s12 m5 l5 left-bg">
        <div class="header">
          <h1 id="coorganate-logo">co<b>organ</b>ate</h1>
          <h5 class="baby-blue-font"><span>by </span><span id="password-logo">password</span><span id="password-logo2">123</span></h5>
        </div>
        <div class="center-align">
          <img class="logo responsive-img" src="/static/images/logo.png">
        </div>
      </div>

      <!-- Sign in form on right side -->
      <div class="col s12 m7 l7 right-bg">

        <div class="row center-align">
          <div class="hide-on-small-only">
            <div class="row">
              <div class="col s6 m12 l12">
                <h1 class="sign-in-title">Sign In</h1>
              </div>
            </div>
          </div>
          <div class="hide-on-med-and-up">
            <div class="row">
              <div class="col s12">
                <h1 class="sign-in-title">Sign In</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="content-section sign-in-form">
          <!-- Form -->
          <form id="login_form" name="login_form" method="post" action="/login/">
            {% csrf_token %}
            <input type="hidden" id="next" name="next" value="/home">
            <div class="row">
              {{ form|crispy }}
            </div>
            <div class="row center-align" style="font-family: Karla">
              
              <!-- Buttons -->
              <div class="row center-align">
                <button class="btn waves-effect waves-light sign-in-buttons blue-button-medium" type="submit" name="login" value="Login">
                  Sign in</button>
                </div>
                <div class="row center-align">
                  <button class="btn waves-effect waves-light sign-in-buttons white-button-medium" type="submit" name="forgot password"
                  value="Forgot Password">Forgot Password?</button>
                </div>
              </div>
            </form>

            <!-- Sign Up footer -->
            <div class="row center-align">
              <p style="font-family: Karla">&nbsp Don't have an account?<a class="waves-effect waves-light modal-trigger"
                href="/registration_type">&nbsp Request registration</a></p>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- include 'footer.html' %} -->
      {% include 'footer.html' %}
    </body>

    </html>
