<!DOCTYPE HTML>
<html>
   <head>
    {% include 'scripts.html' %}
   </head>
   <body>
   {% load crispy_forms_tags %}
      <!-- include 'heading0.html' -->
      <main>
        <div class="row">
          <div class="col s1 m6 offset-m3">
            <div class="card-panel">
                <div class="row center-align">
                    <div class="hide-on-small-only">
                        <div class="row">
                            <div class="col s6 m12 l12">
                                <h4>Organization Registration Request</h4>
                            </div>
                        </div>
                    </div>
                    <div class="hide-on-med-and-up">
                        <div class="row">
                            <div class="col s12">
                                <h4>Organization Registration Request</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-section" >
                  <form method="POST" >
                      {% csrf_token %}
                      <div class="row" >
                        {{ organization_form|crispy }}
                        {{ address_form|crispy }}
                      </div>    
                      
                      <div class="row" style="text-align-last: center;">
                      <button class="btn waves-effect waves-light" type="submit" >Request</button>
                      </div>    
                      
                  </form>
                <hr />
                <div class="row">
                    <p style="text-align-last: left;"><a class="waves-effect waves-light modal-trigger" href="/login/">&nbsp Back to log in</a></p>
                </div>
            </div>
          </div>
        </div>
      </main>
      <!-- include 'footer.html' %} -->
   </body>
</html>