<!-- registration_type.html -->
{% load static from staticfiles %}
<!DOCTYPE HTML>
<html>

<head>
  {% include 'scripts.html' %}
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <title>Coorganate - Sign Up</title>
</head>

<body>
  {% load crispy_forms_tags %}
  <!-- include 'heading0.html' -->
  <main>
    <div class="row" id="content">

      <!-- Logo on left side -->
      <div class="col s12 m5 l5 left-bg">
        <div class="header">
          <h1 id="coorganate-logo">co<b>organ</b>ate</h1>
          <h5 class="baby-blue-font"><span>by </span><span id="password-logo">password</span><span id="password-logo2">123</span></h5>
        </div>
        <div class="center-align">
          <img class="logo responsive-img" src="/static/images/logo.png">
        </div>
      </div>

      <!-- Sign in form on right side -->
      <div class="col s12 m7 l7 right-bg">
        <div class="row center-align">
          <div class="hide-on-small-only">
            <div class="row">
              <div class="col s6 m12 l12">
                <h1 class="sign-in-title">Sign Up</h1>
              </div>
            </div>
          </div>
          <div class="hide-on-med-and-up">
            <div class="row">
              <div class="col s12">
                <h1 class="sign-in-title">Sign Up</h1>
              </div>
            </div>
          </div>
        </div>


          <div>
            {% csrf_token %}
            <div class="registration-buttons-div">
              <div class="row center-align">
                <a class="btn waves-effect waves-light registration-type-buttons blue-button-large"
                  href="/medical_professional_registration">Medical Professional</a>
              </div>
              <div class="row center-align">
                <a class="btn waves-effect waves-light registration-type-buttons white-button-large"
                  href="/organization_registration">Organization</a>
              </div>
            </div>
          </div>


        <!-- Sign Up footer -->
        <div class="row center-align">
          <p style="font-family: Karla">&nbsp Have an account?<a class="waves-effect waves-light modal-trigger"
              href="/login">&nbsp Sign in</a></p>
        </div>
      </div>
    </div>
    </div>
  </main>
  <!-- include 'footer.html' %} -->
  {% include 'footer.html' %}
</body>

</html>
